@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(49, 49, 49);
    font-family: 'Supermercado One', cursive;
    color: white;
}

.tittle-container{
    margin:0;
    max-width: 124rem;
}

.tittle{
    text-align: center;
}

#ingreso-entrenador{
    margin-top: 1rem;
    align-items: center;
    text-align: center;
}

.party-setup{
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}

.card-container{
    justify-items: center;
}

#card-trainer{
    background-color: white;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 2px solid black;
    color: White;
    overflow: hidden;
    max-width: fit-content;
}

.card{
    background-color: rgba(49, 49, 49, 0);
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    border: 2px solid black;
    color: White;
    overflow: hidden;
    max-width: fit-content;
}

.party-img{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.input-text,#agregarPokemon,#mostrarPokemon{
    margin-top: 1rem;
}

